streamlit
langchain
langchain-community
langchain-core

langchain_openai
langchain-ollama
langchain-groq
langchain-google-genai

groq
openai
google-genai

# Due to trimmer, below two are needed. But they come with multiple deps and at least 1.5GB of downloads, if u turn of trimmer, you can ignore these two.
# Code without trimmer is commented out.
transformers
torch --index-url https://download.pytorch.org/whl/cpu

# With versions:
# streamlit==1.44.1
# langchain==0.3.23
# langchain-community==0.3.21
# langchain-core==0.3.54
# langchain-text-splitter==0.3.8
# langchain_openai==0.3.12
# langchain-ollama==0.3.0
# langchain-groq==0.3.2
# langchain-google-genai==2.1.3
# groq==0.22.0
# openai==1.70.0
# google-genai==1.11.0
# transformers==4.51.0
# torch==2.6.0